.header {
  &__wrapper {
    padding: 85px 142px 105px $main_indent;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    padding-left: 14px;
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;
    color: #58a9a5;
  }
  &__menu {
    display: flex;
    justify-content: center;
  }
  &__link {
    display: inline-block;
    margin: 0 43px 0 43px;
    font-size: 25px;
    line-height: 38px;
    color: #404242;
    &:hover {
      text-decoration: none;
      transition: all 0.6s;
      text-shadow: 0 0 0.9px #333, 0 0 0.9px #333, 0 0 0.9px #333;
      color: $main-color;
    }
  }
}
